.input {
    margin-bottom: 17px;
}

.input label {
    text-transform: uppercase;
    font-weight: 600;
    color: #fb743e;
    display: block;
}

.input input, .input textarea, .input select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-family: arial;
    border-radius: 0.5rem;
    border: 1px solid silver;
    margin-top: 5px;
}